/* IPA glyphs and diacritics */
.ipa, .dia {
    font-size: larger;
    font-family: "charis";
    background-color: #e0e0e0;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.dia {
    padding: 0.1rem 0.3rem;
}

.dia::before {
    content: "\2007";  /* figure-width non-breaking space */
}

/* ISO codes and glottocodes */
.iso {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
}

/* unicode codepoints & descriptions */
.codept {
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
    color: #666;
}
