@charset "UTF-8";
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "charis";
  src: url("/fonts/CharisSIL-R.woff") format("woff"); }
@font-face {
  font-family: "charis";
  src: url("/fonts/CharisSIL-I.woff") format("woff");
  font-style: italic; }
@font-face {
  font-family: "charis";
  src: url("/fonts/CharisSIL-B.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: "charis";
  src: url("/fonts/CharisSIL-BI.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
.ipa {
  font-family: "charis"; }

@font-face {
  font-family: "mplus";
  src: url("/fonts/mplus-1c-regular.woff") format("woff"); }
@font-face {
  font-family: "mplus";
  src: url("../fonts/mplus-1c-bold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: "mplus-heavy";
  src: url("../fonts/mplus-1c-heavy.woff") format("woff"); }
@font-face {
  font-family: "mplus-medium";
  src: url("../fonts/mplus-1c-medium.woff") format("woff"); }
@font-face {
  font-family: "mplus-light";
  src: url("../fonts/mplus-1c-light.woff") format("woff"); }
@font-face {
  font-family: "mplus-thin";
  src: url("../fonts/mplus-1c-thin.woff") format("woff"); }
@font-face {
  font-family: "mplus-mono";
  src: url("../fonts/mplus-1m-regular.woff") format("woff"); }
@font-face {
  font-family: "mplus-mono";
  src: url("../fonts/mplus-1m-bold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: "mplus-mono-medium";
  src: url("../fonts/mplus-1m-medium.woff") format("woff"); }
@font-face {
  font-family: "mplus-mono-light";
  src: url("../fonts/mplus-1m-light.woff") format("woff"); }
@font-face {
  font-family: "mplus-mono-thin";
  src: url("../fonts/mplus-1m-thin.woff") format("woff"); }
.mpl {
  font-family: "mplus"; }

.mpl .hvy {
  font-family: "mplus-heavy"; }

.mpl .med {
  font-family: "mplus-medium"; }

.mpl .lit {
  font-family: "mplus-light"; }

.mpl .thn {
  font-family: "mplus-thin"; }

.mpl .mon {
  font-family: "mplus-mono"; }

.mpl .mon .med, .mpl .med .mon {
  font-family: "mplus-mono-medium"; }

.mpl .mon .lit, .mpl .lit .mon {
  font-family: "mplus-mono-light"; }

.mpl .mon .thn, .mpl .thn .mon {
  font-family: "mplus-mono-thin"; }

html {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-size: 0.375cm; }
  @media screen and (min-width: 12cm) {
    html {
      font-size: 0.425cm; } }

body {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 30cm;
  width: 100%;
  background-color: #fff;
  color: #333;
  font: normal 1rem/1.75rem "mplus";
  text-align: left; }
  @media screen and (min-width: 12cm) {
    body {
      width: 90%; } }
  @media screen and (min-width: 12cm) {
    body {
      text-align: justify; } }

.header {
  margin-bottom: 1rem;
  border-bottom: #aaa solid 1px;
  padding-top: 1.5rem;
  color: #000; }
  .header .title {
    display: inline-block;
    margin: 0 1.5rem;
    font-family: "mplus-thin";
    font-size: 2rem; }

.nav {
  display: block;
  margin-left: 1.5rem; }
  @media screen and (min-width: 12cm) {
    .nav {
      display: inline-block;
      margin-left: 0; } }
  .nav .navitem {
    display: inline-block;
    margin-right: 1.5rem; }
    .nav .navitem a {
      color: #000; }
    .nav .navitem a:hover {
      color: #825;
      text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.25rem;
  padding: 0 1.5rem;
  color: #000; }

h2 {
  margin: 1.5rem 0 0.25rem;
  border-bottom: #aaa solid 1px;
  font: normal 1.2rem "mplus-light", "DejaVu Sans", "FreeSans", sans-serif; }

h1 {
  margin: 1rem 0 0;
  padding: 0 1.5rem 0.125rem;
  border-bottom: none;
  background-color: #999;
  color: #fff;
  font: normal 1.5rem "mplus-light", "DejaVu Sans", "FreeSans", sans-serif; }

a {
  color: #173;
  text-decoration: none; }

a:visited {
  color: #328;
  text-decoration: none; }

a:hover {
  color: #825;
  text-decoration: underline;
  text-decoration-color: #E6B2BB; }

p {
  margin: 0.25rem 0 0.5rem;
  padding: 0 1.5rem; }
  p img {
    vertical-align: middle; }

ol {
  margin: 0 4.5rem; }

ul {
  list-style-type: square;
  padding: 0 1.5rem;
  margin-left: 1.5rem; }

.footer {
  margin: 2rem 0 0;
  padding: 0.5rem 0 4rem;
  font: normal 0.8rem "mplus-light", "DejaVu Sans", "FreeSans", sans-serif;
  text-align: left;
  color: #333;
  background-color: #eee;
  border-top: #aaa solid 1px; }
  .footer a,
  .footer a:visited {
    color: inherit; }
  .footer a:hover {
    color: #825; }
  .footer ul li {
    display: inline;
    margin-right: 0.75rem; }
    @media screen and (min-width: 20cm) {
      .footer ul li {
        margin-right: 1.5rem; } }
    @media screen and (min-width: 30cm) {
      .footer ul li {
        margin-right: 3rem; } }

blockquote {
  margin: 1rem 0.75rem;
  background-color: #f0f9f0;
  border: #cdc solid 1px;
  border-left: #cdc solid 12px;
  text-align: left; }
  @media screen and (min-width: 10cm) {
    blockquote {
      margin: 1rem 3rem; } }
  @media screen and (min-width: 20cm) {
    blockquote {
      margin: 1rem 6rem; } }
  @media screen and (min-width: 30cm) {
    blockquote {
      margin: 1rem 9rem; } }

blockquote p {
  margin: 0;
  padding: 0.5rem 0.375rem;
  font-size: 0.6rem;
  line-height: 1rem; }
  @media screen and (min-width: 10cm) {
    blockquote p {
      padding: 0.5rem 1.5rem;
      font-size: 0.8rem;
      line-height: 1.2rem; } }
  @media screen and (min-width: 20cm) {
    blockquote p {
      font-size: 1rem;
      line-height: 1.5rem; } }
  blockquote p a,
  blockquote p a:visited {
    color: inherit; }
  blockquote p a:hover {
    color: #825; }

mark {
  font: normal 0.8rem "mplus-heavy", "DejaVu Sans", "FreeSans", sans-serif;
  background-color: inherit;
  color: #999;
  border: none; }

code {
  font-family: "mplus-mono", "DejaVu Sans Mono", monospace; }

del {
  text-decoration: none; }

del .ipa::before {
  content: " "; }

.ipa {
  padding: 0 0.375rem 0.125rem;
  font-family: "charis", "Linux Libertine O", "DejaVu Serif", "FreeSerif", serif;
  font-size: 1.2rem;
  background-color: #eee;
  border: #e0e0e0 solid 1px; }

pre {
  padding: 0 1.5rem;
  border: #ddd solid 1px;
  background-color: #eef; }
  pre code {
    border: none;
    font-family: "mplus-mono", "DejaVu Sans Mono", monospace; }

table {
  margin: 0 auto 1.5rem;
  max-width: 95%;
  line-height: 1.25; }

th {
  background: #fff;
  font-weight: bold; }

tr:nth-child(odd) {
  background: #eee; }

td,
th {
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem; }
  @media screen and (min-width: 10cm) {
    td,
    th {
      font-size: 0.8rem; } }
  @media screen and (min-width: 20cm) {
    td,
    th {
      font-size: 1rem; } }

td .ipa,
th .ipa {
  background-color: inherit;
  border: none; }

td .sm {
  line-height: 1;
  font-size: 0.5rem; }
  @media screen and (min-width: 10cm) {
    td .sm {
      font-size: 0.6rem; } }
  @media screen and (min-width: 20cm) {
    td .sm {
      font-size: 0.8rem; } }

.references {
  padding: 0 1.5rem;
  text-indent: -1.5rem;
  padding-left: 3rem; }
