/* IPA-friendly proportional serif typeface, used in <code> */
@font-face { font-family: 'charis';
             src: url('/fonts/CharisSIL-R.woff') format('woff'); }
@font-face { font-family: 'charis';
			 font-style: italic;
			 src: url('/fonts/CharisSIL-I.woff') format('woff'); }
@font-face { font-family: 'charis';
             font-weight: bold;
             src: url('/fonts/CharisSIL-B.woff') format('woff'); }
@font-face { font-family: 'charis';
             font-weight: bold;
             font-style: italic;
             src: url('/fonts/CharisSIL-BI.woff') format('woff'); }
/* IPA-friendly proportional sans-serif typeface */
@font-face { font-family: 'mplus';
             src: url('/fonts/mplus-1c-regular.woff') format('woff'); }
@font-face { font-family: 'mplus';
             font-weight: bold;
             src: url('/fonts/mplus-1c-bold.woff') format('woff'); }
@font-face { font-family: 'mplus-light';
             src: url('/fonts/mplus-1c-light.woff') format('woff'); }
@font-face { font-family: 'mplus-light';
			 font-weight: bold;
             src: url('/fonts/mplus-1c-medium.woff') format('woff'); }
@font-face { font-family: 'mplus-thin';
             src: url('/fonts/mplus-1c-thin.woff') format('woff'); }
@font-face { font-family: 'mplus-heavy';
             src: url('/fonts/mplus-1c-heavy.woff') format('woff'); }
/* IPA-friendly monospaced sans-serif typeface */
@font-face { font-family: 'mplus-mono';
             src: url('/fonts/mplus-1m-light.woff') format('woff'); }
@font-face { font-family: 'mplus-mono';
             font-weight: bold;
             src: url('/fonts/mplus-1m-medium.woff') format('woff'); }
/* basics *************************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'mplus', 'DejaVu Sans', 'FreeSans', sans-serif;
  font-size: medium;
  color: #333;
}
p {
  margin: 0.25em 0 0.5em;
  padding: 0 20px;
}
/* lists **************************************************************/
ol, ul { margin: 0 30px; }
.site .footer ul {
  margin: 0;
  padding: 0 20px;
}
.site .footer ul li {
  display: inline;
  margin-right: 1.25em;
}

/* links **************************************************************/
a, a:visited {
  color: #060;
  text-decoration: none;
}
a:hover {
  color: #a00;
  text-decoration: underline;
}
.site .header a.nav {
  margin-left: 1em;
  color: #000;
}
.site .header a.nav:hover, .site .footer a:hover {
  color: #a00;
  text-decoration: none;
}
/* headings ***********************************************************/
h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.25em;
  padding: 0 20px;
  font-family: 'mplus-light', 'DejaVu Sans', 'FreeSans', sans-serif;
  font-weight: normal;
  font-size: large;
  color: #000;
  border-bottom: #ccc solid thin;
}
h1 {
  margin: 1.75em 0 0;
  padding: 0 20px 0.125em;
  font-size: x-large;
  background-color: #999;
  color: #fff;
  border: none;
}
.site .header h1.title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: 'mplus-thin';
  font-size: xx-large;
  background-color: inherit;
  color: #000;
}
/* tables *************************************************************/
table {
  margin: 0 auto;
}
th {
  font-weight: bold;
  background: #fff;
}
tr:nth-child(odd) {
  background: #eee;
}
td, th {
  padding: 0.2em 0.8em;
}
td code, th code {
  background-color: inherit;
  border: none;
}
/* site ***************************************************************/
.site {
  margin: 0 auto;
  padding: 2em 0 0;
  width: 50em;
  max-width: 95%;
  text-align: justify;
  line-height: 1.75em;
  background-color: #fff;
}
/* header *************************************************************/
.site .header {
  margin-bottom: 1em;
  padding: 0 20px;
  color: #000;
  border-bottom: #aaa solid thin;
}
/* footer *************************************************************/
.site .footer {
  margin: 2em 0 4em;
  padding: 0.5em 0 0;
  overflow: hidden;
  font-family: 'mplus-light', 'DejaVu Sans', sans-serif;
  font-size: small;
  background-color: #eee;
  border-top: #aaa solid thin;
}
/* custom *************************************************************/
/* markdown ==double equals== yields the <mark> tag, used here for    */
/* formatting Unicode codepoints and descriptions                     */
mark {
  font-family: 'mplus-heavy', 'DejaVu Sans', 'FreeSans', sans-serif;
  font-weight: normal;
  font-size: small;
  background-color: inherit;
  color: #999;
  border: none;
}
/* <code> is hijacked for pretty rendering of IPA glyphs **************/
code {
  padding: 0em 0.125em 0.125em;
  font-family: 'charis', 'Linux Libertine O', 'DejaVu Serif', 'FreeSerif', serif;
  font-size: large;
  background-color: #eee;
  border: 1px solid #e0e0e0;
}
/* We use ~~`code within double-tildes`~~ for isolated diacritics.    */
/* Normally in markdown this yields strikethrough formatting. Here,   */
/* it just adds a non-breaking space before the diacritic. A possibly */
/* helpful mnemonic when writing the markdown is: surround with ~~    */
/* because in LaTeX ~ means "non-breaking space".                     */
del { text-decoration: none; }
del code::before { content: '\00A0' }
/* use class="mono" for inline code, since we hijacked <code> for IPA */
.mono {
	font-family: 'mplus-mono', 'DejaVu Sans Mono', monospace;
	font-weight: bold;
}
/* preformatted code blocks won't be IPA hijacked */
pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
pre code {
  border: none;
  font-family: 'mplus-mono', 'DejaVu Sans Mono', monospace;
}
/* Posts **************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
ul.posts li {
  line-height: 1.75em;
}
ul.posts span {
  color: #aaa;
  font-size: small;
}
